.nav-option {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-radius 0.2s ease; /* Transiciones más rápidas */
  border-radius: 10px; /* Bordes redondeados por defecto, siempre */
  background-color: transparent; /* Fondo transparente por defecto */
}

/* Estilo para los enlaces dentro de las opciones */
.nav-link {
  text-decoration: none;
  color: black; /* Letras negras por defecto */
  font-weight: bold;
  transition: color 0.2s ease; /* Transición más rápida para el color del texto */
}

/* Efecto hover para cambiar el fondo y el color del texto */
.nav-option:hover {
  background-color: red; /* Fondo rojo al hacer hover */
  border-radius: 10px;
}

.nav-option:hover .nav-link {
  color: white; /* Letras blancas al hacer hover */
}

/* Si quieres que las opciones tengan un fondo transparente por defecto */
.nav-option {
  background-color: transparent; /* Fondo transparente por defecto */
}
