.products {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado consistente */
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #272727;
  border-radius: 20px; /* Bordes redondeados */
  width: 250px;
  margin: 15px;
  text-decoration: none;
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Suaves transiciones */
  height: 420px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* Sombra más suave y difusa */
}

.product-card:hover {
  transform: translateY(-10px); /* Levanta ligeramente al pasar el mouse */
  box-shadow: 0 10px 20px rgba(236, 124, 124, 0.3)/* Sombra más visible y elegante */
}

.product-img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #F0F0F0;
 
}

.product-info {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 10px 0 5px;
}

.product-price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-block .current-price {
  font-size: 22px;
  font-weight: bold;
  color: #60ad5e;
}

.product-price-block .old-price {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  text-decoration: line-through;
}

.product-info .icon {
  align-self: flex-end;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
.brand {
  font-size: 12px;
  text-transform: uppercase;
  color: #c2bbbb;
  
 
}