.footer-container {
  padding: 20px 0px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin: 10px;
}

.footer-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
}

.footer-option {
  margin-bottom: 5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.footer-option:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer-section ul li a {
  text-decoration: none;
  color: white;
}
.footer-ruc {
  width: 100%;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 2px solid #ccc; /* Border top for footer ruc */
  text-align: center;
  padding-bottom: 10px;
}

.ruc {
  font-size: 14px;
  color: white;
}

.ruc-text {
  font-weight: 800; /* Negrita para el texto RUC */
}
