/**Header-Nav**/

.nav-container {
  padding: 10px;
  background-color: black;
}
.nav {
  padding: 10px;
  margin: 0 auto;
  max-width: 70%;
}
.nav-options {
  display: flex;
  justify-content: space-between;
}
