.offer-card {
  display: flex;
  flex-direction: column;

  color: #272727;
  border-radius: 15px;
  width: 260px;
  margin: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.offer-card :hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px (0, 0, 0, 0.2);
}
.offer-img {
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.offer-info {
  padding: 20px;
  box-sizing: border-box;
}
.offer-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  word-wrap: break-word;
  display: block;
  margin-top: 0;
}
.offer-description {
  font-size: 12px;
  font-weight: 400;
  color: #383838;
  margin-bottom: 5px;
}
.offer-price-block {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.offer-price-base {
  font-size: 20px;
  font-weight: 500;
  color: #428f13;
  text-decoration: line-through;
}
.offer-price {
  font-size: 24px;
  font-weight: 700;
  color: red;
}
.offer-discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}
