.products-container {
  padding: 20px;
  margin: auto;
  width: 1200px;
  background-color: #fffdfd;
}

.content-subtitle {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}
.products {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
