.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  width: 200px;
  font-size: 16px;
  border:  rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 8px; /* Espacio entre el input y el botón */
  flex: 1; /* Hace que el input ocupe el espacio disponible */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Difuminado en los bordes */
  transition: box-shadow 0.3s ease; /* Suaviza el cambio de sombra */
  background-color: rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none; /* Elimina el contorno predeterminado del navegador */
  border-color: #007bff; /* Cambia el color del borde al enfocarse */
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5); /* Aumenta el difuminado al enfocarse */
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff; /* Color del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 4px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Efecto de transición */
}

.search-button:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
  transform: scale(1.05); /* Pequeño aumento al hacer hover */
}
