/* Contenedor principal del slider */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ocultamos los productos fuera de la vista */
}

.product-list-container {
  display: flex;
  transition: scroll 0.3s ease; /* Desplazamiento suave */
  scroll-snap-type: x mandatory; /* Forzamos el desplazamiento en pasos */
}

.product-item {
  flex: 0 0 33.33%; /* Cada producto ocupa un 33.33% del contenedor */
  padding: 10px;
  scroll-snap-align: center; /* Alinea cada producto en el centro del contenedor */
}

/* Flechas de navegación */
.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%); /* Centra las flechas verticalmente */
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}
