.header-li {
  list-style: none;
  margin-right: 10px;
}

.header-container ul li a {
  text-decoration: none;
  color: black;
}
.footer-container ul li a {
  text-decoration: none;
  color: white;
}
